.App-Page{
  height: 90vh; 
  padding-top: 64px;
}

.App-logo {
  height: 45px;
  width: auto;
  pointer-events: none;
}
.Nami-logo{
  width: auto;
  height: 45px;
}

.Nami-logo{
  width: auto;
  height: 45px;
}


.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #00fdf0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
